# Summary of NGS5704 Analysis based on different splits of Cumulus runs

A bit of set-up

In [2]:
import os
import anndata as ad 
import pandas as pd
import numpy as np
import scanpy as sc

- First, we splitted our dataset into 6 batches to be able to run on the Cumulus and registered each of them separately on the DSDB You can see the summary here

In [1]:
N_splits = 4
SAM_ID = 'SAM24449114'
experiment_name="NGS5704"

In [12]:
Dataset_HOME = f'/gstore/scratch/u/ghaffars/Dataset/crc_{experiment_name}/' # the directory that contains all AnnData files stored on the disk

### Dataset Info

In [5]:
dsdbs = ['DS000016632', 'DS000016634', 'DS000016633', 'DS000016631']

In [8]:
SAM_IDs = [f'{SAM_ID}_{i+1}' for i in range(N_splits)]

In [10]:
cell_counts=[]
cell_filtered=[]

In [13]:
for i in dsdbs:
    DSID = i
    path = f'{Dataset_HOME}/{DSID}'
    file = os.path.abspath(os.path.join(path ,"raw_qc.h5ad"))
    adata = sc.read_h5ad(file)
    cell_counts.append(len(adata.obs))
    bdata = adata[adata.obs["qc_pass"]==True].copy()
    cell_filtered.append(len(bdata.obs))

In [14]:
data = {'DSDB_ID':dsdbs,
        'SAM_ID':SAM_IDs,
        '#Cells' : cell_counts,
        '#Cells after filtering' :cell_filtered}

In [15]:
df=pd.DataFrame(data)

In [16]:
sum_row = {'DSDB_ID':'Total', 'SAM_ID':'', '#Cells':df['#Cells'].sum(), '#Cells after filtering':df['#Cells after filtering'].sum()}

In [17]:
df = df.append(sum_row, ignore_index=True)

/local/28017864/ipykernel_7512/2041542741.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(sum_row, ignore_index=True)

In [18]:
df = df.set_index('DSDB_ID')

In [19]:
df

                    SAM_ID  #Cells  #Cells after filtering
DSDB_ID
DS000016632  SAM24449114_1  133055                   39583
DS000016634  SAM24449114_2  126765                   35847
DS000016633  SAM24449114_3  129641                   39026
DS000016631  SAM24449114_4  138283                   33460
Total                       527744                  147916